
body {
  background-color: #F6F6EF;
}

header {
  background-color:#FF742B;
  padding: 15px;
  width: 100%;
}

div {
  padding: 2rem;
  margin: 0px;
  text-align: left;
}


.articles  {
  gap: 10px;
  list-style: none;
  justify-content: center;
  font-family: sans-serif;
}
.title {
  display: inline;
  font-weight: 1000;
  font-size: 18px;
}

.titleURL {
  color: #828282;
}

.info {
  color: #696969
}

