
body {
  background-color: #F6F6EF;
}

header {
  background-color: orange;
  padding: 15px;
  width: 100%;
}

div {
  padding: 2rem;
  margin: 0px;
  text-align: left;
}


.articles  {
  gap: 10px;
  list-style: none;
  justify-content: center;
  font-family: sans-serif;
}

p {
  display: inline;
  font-size: 15px;
  color: gray;
}

.gray {
  color: gray;
}

h2 {
  display: inline;
  font-weight: 500;
  font-size: 18px;
}
